<section class="cases" [style.height]="vh / 2 + 'px'">
    <div class="container">
      <!-- <div class="row" *ngIf="!featuredCat" style="justify-content: center;">
        <mat-spinner diameter="50"></mat-spinner>
      </div> -->
      <div class="row" >
        <div class="cases-title">
          <span>Recent Courses</span>
        </div>
       
           
        </div>
    </div>

    <div class="container" style="border: 0px solid black;">
    <div class="row" style="width: 100%;">
            

        <!-- col 1-->
        <div class="col-6" style="border: 0px solid red;  width: 100vh;">
            
            <mat-grid-list cols="3" rowHeight="8rem">
                <mat-grid-tile> <img mat-card-image style="height: 100px; width: 120px;" src="../../../assets/images/computer.jpg"></mat-grid-tile>
                <mat-grid-tile >
                    <div>
                        <div>
                            <b style="font-size: 15px;">Computer </b>
                        </div>
                        
                        <div style="padding-top: 10px;font-size: 18px;" class="onhover">
                            <b>The Shiba Inu is the smallest of the six original</b>
                        </div>
                    </div>
                     
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>
            

              <mat-grid-list cols="3" rowHeight="8rem">
                <mat-grid-tile> <img mat-card-image style="height: 100px; width: 120px;" src="../../../assets/images/computer.jpg"></mat-grid-tile>
                <mat-grid-tile >
                    <div>
                        <div>
                            <b style="font-size: 15px;">Computer </b>
                        </div>
                        
                        <div style="padding-top: 10px;font-size: 18px;" class="onhover">
                            <b>The Shiba Inu is the smallest of the six original</b>
                        </div>
                    </div>
                     
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="3" rowHeight="8rem">
                <mat-grid-tile> <img mat-card-image style="height: 100px; width: 120px;" src="../../../assets/images/computer.jpg"></mat-grid-tile>
                <mat-grid-tile >
                    <div>
                        <div>
                            <b style="font-size: 15px;">Computer </b>
                        </div>
                        
                        <div style="padding-top: 10px;font-size: 18px;" class="onhover">
                            <b>The Shiba Inu is the smallest of the six original</b>
                        </div>
                    </div>
                     
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="3" rowHeight="8rem">
                <mat-grid-tile> <img mat-card-image style="height: 100px; width: 120px;" src="../../../assets/images/computer.jpg"></mat-grid-tile>
                <mat-grid-tile >
                    <div>
                        <div>
                            <b style="font-size: 15px;">Computer </b>
                        </div>
                        
                        <div style="padding-top: 10px;font-size: 18px;" class="onhover">
                            <b>The Shiba Inu is the smallest of the six original</b>
                        </div>
                    </div>
                     
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>
                
        </div>

        <!-- col 2-->
        <div class="col-6" style="border: 0px solid red;  width: 100vh;">
            
            <mat-grid-list cols="3" rowHeight="8rem">
                <mat-grid-tile> <img mat-card-image style="height: 100px; width: 120px;" src="../../../assets/images/computer.jpg"></mat-grid-tile>
                <mat-grid-tile >
                    <div>
                        <div>
                            <b style="font-size: 15px;">Computer </b>
                        </div>
                        
                        <div style="padding-top: 10px;font-size: 18px;" class="onhover">
                            <b>The Shiba Inu is the smallest of the six original</b>
                        </div>
                    </div>
                     
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>
            

              <mat-grid-list cols="3" rowHeight="8rem">
                <mat-grid-tile> <img mat-card-image style="height: 100px; width: 120px;" src="../../../assets/images/computer.jpg"></mat-grid-tile>
                <mat-grid-tile >
                    <div>
                        <div>
                            <b style="font-size: 15px;">Computer </b>
                        </div>
                        
                        <div style="padding-top: 10px;font-size: 18px;" class="onhover">
                            <b>The Shiba Inu is the smallest of the six original</b>
                        </div>
                    </div>
                     
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="3" rowHeight="8rem">
                <mat-grid-tile> <img mat-card-image style="height: 100px; width: 120px;" src="../../../assets/images/computer.jpg"></mat-grid-tile>
                <mat-grid-tile >
                    <div>
                        <div>
                            <b style="font-size: 15px;">Computer </b>
                        </div>
                        
                        <div style="padding-top: 10px;font-size: 18px;" class="onhover">
                            <b>The Shiba Inu is the smallest of the six original</b>
                        </div>
                    </div>
                     
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="3" rowHeight="8rem">
                <mat-grid-tile> <img mat-card-image style="height: 100px; width: 120px;" src="../../../assets/images/computer.jpg"></mat-grid-tile>
                <mat-grid-tile >
                    <div>
                        <div>
                            <b style="font-size: 15px;">Computer </b>
                        </div>
                        
                        <div style="padding-top: 10px;font-size: 18px;" class="onhover">
                            <b>The Shiba Inu is the smallest of the six original</b>
                        </div>
                    </div>
                     
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
              </mat-grid-list>
                
        </div>

        
    
   
    </div>
    </div>

</section>
  